.pagination-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pagination-row {
  margin: 8px 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.pagination-count {
  width: 50px;
  margin-right: 10px;
  box-sizing: border-box;
  outline: none;
  height: 32px;
  background: transparent;
  padding: 5px 10px;
  font-size: 14px;
}

.pagination-pages {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination-element {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  height: 32px;
}

.pagination-element.active {
  background-color: #dcdee1
}

.pagination-page-selector {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.border-standard {
  border: 2px solid #dcdee1;
  border-radius: 9px;
}

.not-select {
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none; 
}