

.textField-block {
  width: 100%;
  box-sizing: border-box;
}

.textField-input {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border-radius: 9px;
  border: 2px solid #dcdee1;
  height: 32px;
  background: transparent;
  padding: 5px 10px;
  font-size: 14px;
}