.routingList {
  margin: 16px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.routingList-item {
  margin: 3px 0;
  text-decoration: none; 
  cursor: pointer
}