.logout-modal-layout {
  position: absolute;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.logout-modal {
  margin: auto;
  width: 300px;
  height: 110px;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid rgb(161, 40, 40);
  border-radius: 9px;
}

.logout-modal-text {
  text-align: center;
}

.logout-modal-btns {  
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.logout-modal-btn {  
  text-align: center;
  padding: 8px;
  width: 50px;
  cursor: pointer;
  border: 2px solid rgb(161, 40, 40);
  border-radius: 9px;
}