.authorization-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
}

.authorization-txt {
  width: 100px;
}

.authorization-row .textField-input {
  max-width: 320px;
  min-width: 120px;
  margin-left: 5px;
}
.authorization-row .textField-input.error {
  border-color: rgb(161, 40, 40)
}


.authorization-btn {
  box-sizing: border-box;
  cursor: pointer;
  width: 100px;
  height: 32px;
  background-color: transparent;
}