.user {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  margin: 5px 0;
  border: 2px solid #dcdee1;
  display: flex;
  flex-direction: column;
}

.user .img {
  width: 250px;
}

.user-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.user-block:not(:first-child) {
  border-top: 2px solid #dcdee1;
}

.user-block .half{
  width: 250px;
}

.user-block .half.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-block .half.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user_el {
  margin: 5px;
}