body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100%;
}

.df {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gr2 {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr;

}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  border-bottom: 2px solid #dcdee1;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRadioGroup {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
}

.headerRadioGroup span{
  font-size: 14px;
}

.headerRadioGroup span input{
  width: 40px;
  height: 40px;
}

.container {
  height: 100%;
  width: 100%;
  margin: 48px 0;
}

.content_container {
  border-radius: 16px;
  margin: 8px 0;
  padding: 8px;
}

.footer {
  position: fixed;
  width: 100%;
  height: 48px;
  bottom: 0;
  border-top: 2px solid #dcdee1;
}

.content {
  min-width: 80%;
  width: 80%;
  height: 100%;
}

.ml15 {
  margin-left: 15px;
}